
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-icono:before { content: '\f18c'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */
